blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.2
Werkzeug==3.0.3
-e .

nibabel~=5.2.1
setuptools~=68.2.0

cython>=0.29.21
requests_mock
PyYAML==6.0.1
dill<0.3.7,>=0.3.0
black>=22.3.0
pydicom
pytest
pytest-flask